body{
    background-color: black;
}
h1{
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  
}
p{
  font-family: "Libre Baskerville", serif;
  font-style: normal;
}
img{
  border: 5px solid white;
  width: 100%;
}
div{
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  text-align: center;
  color: white;
}